{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Create/Update Participant</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>{% if form.instance.pk %}Update{% else %}Create{% endif %} Participant</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'participant_list' %}">Back to Participant List</a>
</body>
</html>
